body
{
    margin: 0;
    padding:  0;
    /* background: #E8347D;     */
    background:  #385170;
}
.color
{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    text-align: center;    
}
#texto
{
    font-size: 35px;
    color: #ffffff;
    display: block;
    text-transform: uppercase;
    margin-top: 15px;
}

.color button
{
    cursor: pointer;
    background: none;
    outline: none;
    font-size: 15px;
    color: #ffffff;
    border:  3px solid #fff;
    border-radius: 20px;
    padding: 10px 15px;
    transition: transform.3s ease;
}
.color button:hover
{
    transform: scale(1.1);
}
.text
{
    visibility: hidden;
    width: 120px;
    background-color: #555;
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding: 5px 0;
    position: absolute;
    z-index: 1;
    bottom: 100%;
    left: 50%;
    margin-left:  -60%;
    opacity: 0;
    transition: opacity 0.3s;    
}
.color:hover .tex
{
    visibility: visible;
    opacity: 1;

}
#portapapeles
{
    display: flex;
    margin-left: 30%;
    padding: 10px;
    color:white
}
